.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.card-rank {
  float: left;
  font-size: 18px;
  color: red;
  margin: 40px 0px 5px 30px
}

.card-headline {
  margin: 60px 5px 0px 30px
}

.card-container {
	float: left;
	margin: 30px 15px 20px 10px;
}
@media screen and (max-width: 400px) {
	.card-container {
    width: 100%;
    margin: 10px;
  }
}

.card-box {
	text-align: center;
  width: 100%;
}

.cards-name {
	font-size: 16px;
  color: #000;
}

.card-show {
  font-size: 15px;
  text-align: center;
}

.card-favorite {
  margin-top : 20px;
  text-align: center;
}

.favorite-btn-off {
  border-radius: 50px;
  background-color: #ff0;
  padding: 5px 20px 5px 20px;
  border: 50px;
}

.favorite-btn-on {
  border-radius: 50px;
  background-color: #EEEEEE;
  padding: 5px 20px 5px 20px;
  border: 50px;
}

.about {
  margin-top: 80px;
  color: black;
  font-size: 30px;
  font-family: "arial black";
  text-align: center;
}

.about-sign_up:hover{
  text-decoration: underline;
  color: #000;
}

table.card  {
  table-layout: fixed;
  margin-top : 60px;
}
table.card th {
  border: 1px solid #C0C0C0;
  background-color: #eeeeee;
  height: 100px;
  width: 130px;
  text-align: center;
}
table.card td {
  border: 1px solid #C0C0C0;
}
