.quit {
  text-align: center;
  margin-top: 80px;
}
.quit-msg {
	margin: 20px;
}
.information-link{
	font-size: 20px;
	margin-right: 6px;
}
.save {
  margin-right: 10px;
	margin-left: 25px;
}
.actions {
	margin-top: 30px;
}
.pass-btn {
	margin-left: 250px;
}
.table > tbody > tr > .text-left {
  padding-left: 30px;
}

.fa-user{
	color: black;
}

table.mypage {
	background-color: #EEEEEE;
	border: 2px solid #C0C0C0;
	border-collapse: separate;
	border-radius: 10px;
	padding-right: 30%;
	margin-bottom: 5px;
}
table.mypage th {
	padding: 10px 10px 10px 20px;
	color: #C0C0C0;
}
table.mypage td {
	padding: 10px 10px 10px 10px;
}

.edit {
	text-align: left;
	margin-bottom: 40px;
}

.card-container-mypage {
	float: left;
	text-align: center;
	margin-right: 20px;
}	

.back-page {
	font-size: 15px;
	background-color: #DDDDDD;
	border-radius:10px;
	padding: 10px 10px 10px 10px;
}

.back-page:hover {
  background-color: #EEEEEE;
  border-radius:10px;
}

.new-customer-mail {
	margin-left: 20px;
}

.customer-form	{
	margin-left: 20%;
	}
@media screen and (max-width:800px) {
	.customer-form	{
		font-size: 10px;
	}
}
@media screen and (max-width:400px) {
	.customer-form	{
		margin-left: 0px;
	}
}

@media screen and (max-width:400px) {
	.customer-form2	{
		width: 300px;
	}
}

.customer-login {
	margin-bottom: 5%;
}

@media screen and (max-width:400px) {
	.customer-name-field	{
		right: 15px;
		font-size: 20px;
	}
}
@media screen and (max-width:400px) {
	.customer-name-field2	{
		width: 300px;
	}
}

@media screen and (max-width:400px) {
	.customer-form3	{
		width: 280px;
	}
}

@media screen and (max-width:400px) {
	.customer-form4	{
		width: 260px;
	}
}

.customer-name-field3 {
	margin-right: 20px;
}