<div class="card-container-mypage">
  <%= link_to card_path(card.id), class: "btn-link", :style=>"color:#FFF;" do %>
  <div id="img_field" class="card">
    <%= attachment_image_tag(card, :image, size: "200x150", fallback: "no_image.jpg") %>
  </div>
  <p class="cards-name">
    <%= card.name %>
  </p>
  <% end %>
</div>
