<% provide(:title, "会員一覧") %>
<h2 class="head-line text-center">会員一覧</h2>
<div class="row">

  <div class="col-xs-12">
    <table class="text-center admin-customer-index" frame="border">
      <div class="field">
        <tr>
          <th>ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>

        <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td class="text-left">
              <%= link_to admin_customer_path(customer), class: "btn-link"  do %>
                <i class="far fa-user"></i>
                <%= full_name(customer) %>
              <% end %>
            </td>
            <td class="text-left">
              <%= customer.email %>
            </td>
            <td class="text-left">
              <% if customer.is_valid == true%>
                <p>退会済</p>
              <% else %>
                <p>有効</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </div>
    </table>
  </div>
</div>
