<% provide(:title, "サイトについて") %>
    <div class="about">
       ポイ活サイトです<br>
       ポイ活に役立つ様々なクレジットカードを紹介しています<br><br>
       Let's Go  <%= link_to "Sign_up", new_customer_registration_path %>!!<br>
    </div>
