.img_field {
  width: 250px;
  height: 180px;
  background-color: #EEEEEE;
}
form img.thumb {
    margin: 0 5px 5px 0;
    max-width: 250px;
    height: 180px;
    vertical-align: bottom;
}

.head-line {
  text-align: center;
  margin-bottom: 20px !important;
}

table.admin-card-index {
  background-color: #EEEEEE;
	border: 2px solid #C0C0C0;
	border-collapse: separate;
	border-radius: 10px;
	margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
table.admin-card-index th {
	padding: 10px 10px 10px 20px;
	color: #C0C0C0;
}
table.admin-card-index td {
	padding: 5px 5px 10px 20px;
}

.new-card {
  text-align:right;
  margin-right: 27%;
}

@media screen and (max-width:400px) {
	.card-explanation	{
		top: 30px;
	}
}

@media screen and (max-width:400px) {
	.cards-show-edit	{
text-align: center;
top: -40px;
	}
}

@media screen and (max-width:400px) {
	.img-position	{
margin-left: 40px;
	}
}

@media screen and (max-width:400px) {
	.backbtn-cardshow	{
margin-left: -30px;
	}
}