table.admin-customer-index {
  background-color: #EEEEEE;
	border: 2px solid #C0C0C0;
	border-collapse: separate;
	border-radius: 10px;
	margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
table.admin-customer-index th {
	padding: 5px 5px 5px 5px;
	color: #C0C0C0;
}
table.admin-customer-index td {
	padding: 5px 5px 5px 5px;
}
table.admin-customer-show {
  margin-left: auto;
  margin-right: auto;
}
table.admin-customer-show th {
	padding: 20px 50px 10px 20px;
	border-bottom: 1px solid #C0C0C0;
}
table.admin-customer-show td {
	padding: 5px 40px 0px 20px;
	border-bottom: 1px solid #C0C0C0;
}

.admin-customer-edit {
	margin-bottom: 10px;
	margin-left: 47%;
}

.admin-customer-edit-title	{
padding-bottom: 20px;
}
@media screen and (max-width:400px) {
	.admin-customer-edit-title	{
font-size: 25px;
	}
}

.admin-mail-form	{
	margin-left: 22px;
}
@media screen and (max-width:400px) {
	.admin-mail-form	{
margin-left: 0px;	}
}