 default: &default
   adapter: mysql2
   encoding: utf8
   reconnect: false
   pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
   username: root
   password: <%= ENV['poikatsu_DATABASE_PASSWORD'] %>
   host: localhost

 development:
   <<: *default
   database: poikatsu_development

 test:
   <<: *default
   database: poikatsu_test

 production:
   <<: *default
   database: poikatsu_production
   username: <%= ENV['poikatsu_DATABASE_USERNAME'] %>
   password: <%= ENV['poikatsu_DATABASE_PASSWORD'] %>